{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module"
  },
  "rules": {
    "max-len": [
      "error", {
        "code": 120,
        "ignoreUrls": true,
        "ignoreComments": true
      }
    ],
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ]
  },
  "env": {
    "browser": true,
    "mocha": true,
    "commonjs": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  }
}
